<!DOCTYPE html>
<html>
  <head>
      <title>Coin Info</title>
      <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
      {% if refreshSec > 0 %}
        <meta http-equiv="refresh" content={{ refreshSec }}>
      {% endif %}
  </head>
  <body>
    <div class="container">
      {% block content %}
          <div class="coin_table">
            <table>
                <tr class='hidden'>
                    <td class='hidden' width='48'></td>
                    <td class='hidden' width='40'></td>
                    <td class='hidden' width='50'></td>
                    <td class='number' width='50'>{{ "{:,.0f}".format(total_price_init) }}</td>
                    <td class='hidden' width='170'></td>
                    <td class='hidden' width='40'></td>
                    <td class='hidden' width='30'></td>
                    <td class='hidden' width='30'></td>
                    <td class='hidden' width='80'></td>
                    <td class='hidden' width='60'></td>
                    <td class='hidden' width='40'></td>
<!--                    <td class='hidden' width='16'></td>-->
<!--                    <td class='hidden' width='30'></td>-->
                    <td class='hidden' width='200'></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>수익율</td>
                    <td>수익</td>
                    <td>투자액</td>
                    <td>현재가</td>
                    <td>위치</td>
                    <td>10만원개수</td>
                    <td>비중</td>
                    <td>Coin 개수</td>
                    <td>현재금액</td>
                    <td>code</td>
<!--                    <td>image</td>-->
<!--                    <td>id</td>-->
                    <td>메모</td>
                </tr>

                {% for item in result %}
                    {% if item.iswallet == 'Y' %}
                        <tr class='wallet'>
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>
                            {% if item.place == 'bittrex' or item.place == 'mew1' or item.place == 'mew2' or item.place == 'bbWlt' or item.place == 'btcWlt1' or item.place == 'btcWlt2' %}
                                {% if item.name != 'Bitcoin' and item.name != 'USD' %}
                                    <a href='https://www.bittrex.com/Market/Index?MarketName=BTC-{{ item.code }}' target='_blank'>{{ item.name }}</a>
                                {% elif item.name == 'Bitcoin' %}
                                    <a href='https://www.bittrex.com/Market/Index?MarketName=USDT-{{ item.code }}' target='_blank'>{{ item.name }}</a>
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </td>
                        <td>
                            <!-- 수익율 -->
                            {% if item.profit_percent != 0 and item.profit_percent != '' %}
                                {{ item.profit_percent }}%
                            {% endif %}
                        </td>
                        <td class="number">
                            <!-- 수익 -->
                            {% if item.name == 'USD' %}
                                {{ "{:,.0f}".format((pUSD * item.amount) - item.price_init) }}
                            {% elif item.name == 'Bitcoin' %}
                                {{ "{:,.0f}".format((pBTCWon * item.amount) - item.price_init) }}
                            {% elif item.name == 'Ethereum' %}
                                {{ "{:,.0f}".format((pETHWon * item.amount) - item.price_init) }}
                            {% elif item.name == 'Ripple' %}
                                {{ "{:,.0f}".format((pXRPWon * item.amount) - item.price_init) }}
                            {% elif item.name != 'DAO.Casino' and item.name != 'Tezos' %}
                                {{ "{:,.0f}".format((item.coin_price*item.amount*pBTCWon) - item.price_init) }}
                            {% endif %}
                        </td>
                        <td class="number">{{ "{:,.0f}".format(item.price_init) }}</td>
                        <td class="numberL">
                            <!-- 현재가 -->
                            {% if item.name == 'USD' %}
                                {{ "{:,.2f}".format(pUSD) }}원
                            {% elif item.name == 'Bitcoin' and pUSD != 0 and pBTC != 0 %}
                                {{ "{:,.0f}".format(pBTCWon) }}원 / 
                                ({{ "{:,.1f}".format((pBTCWon - (pUSD*pBTC))/(pUSD*pBTC)*100) }}%) / 
                                {{ "{:,.2f}".format(pBTC) }}$
                            {% elif item.name == 'Ethereum' and pUSD != 0 and pBTC != 0 and pETH != 0 %}
                                {{ "{:,.0f}".format(pETHWon) }}원 / 
                                ({{ "{:,.1f}".format((pETHWon - (pUSD*pBTC*pETH))/(pUSD*pBTC*pETH)*100) }}%)
                                {{ "{:,.0f}".format(pETH*100000000) }}
                            {% elif item.name == 'Ripple' and pUSD != 0 and pBTC != 0 and item.coin_price != 0 %}
                                {{ "{:,.0f}".format(pXRPWon) }}원 / 
                                ({{ "{:,.1f}".format((pXRPWon - (pUSD*pBTC*item.coin_price))/(pUSD*pBTC*item.coin_price)*100) }}%)
                                {{ "{:,.0f}".format(item.coin_price*100000000) }}                                
                            {% elif item.name != 'DAO.Casino' and item.name != 'Tezos' %}
                              {{ "{:,.0f}".format(item.coin_price*100000000) }} &nbsp;&nbsp;&nbsp;/ {{ "{:,.2f}".format(item.coin_price*pBTC) }}$ / {{ "{:,.0f}".format(item.coin_price*pBTC*pUSD) }}원
                            {% endif %}
                        </td>
                        <td>
                            {{ item.place }}
                        </td>
                        <td>
                            {% if item.price_init != 0 %}
                                {{ "{:,.2f}".format(item.amount*100000/item.price_init) }}
                            {% endif %}
                        </td>
                        <td>{{ "{:,.1f}".format(item.price_init/total_price_init*100) }}%</td>
                        <td class="number">{{ item.amount }}</td>
                        <td class="number">
                            <!-- 현재금액 -->                            
                            {% if item.name == 'USD' %}
                                {{ "{:,.0f}".format(pUSD * item.amount) }}
                            {% elif item.name == 'Bitcoin' %}
                                {{ "{:,.0f}".format(pBTCWon * item.amount) }}
                            {% elif item.name == 'Ethereum' %}
                                {{ "{:,.0f}".format(pETHWon * item.amount) }}
                            {% elif item.name == 'Ripple' %}
                                {{ "{:,.0f}".format(pXRPWon * item.amount) }}
                            {% elif item.name != 'DAO.Casino' and item.name != 'Tezos' %}
                              {{ "{:,.0f}".format(item.coin_price*item.amount*pBTCWon) }}
                            {% else %}
                              {{ item.price_init}}
                            {% endif %}
                        </td>
                        <td>{{ item.code }}</td>
<!--
                        <td>
                            {% if item.image_name != '' %}
                            <img src={{ 'https://files.coinmarketcap.com/static/img/coins/64x64/' + item.image_name + '.png' }} width='16' height='16'>
                            {% endif %}
                        </td>
-->
<!--                        <td>{{ item.id }}</td>-->
                        <td class="text">{{ item.memo }}</td>
                    </tr>
                {% endfor %}
            </table>
          </div>
        {% endblock %}
    </div>
  </body>
</html>

